page-home {
    .set-right-justified{
        text-align:right;
        .button{
          display:inline;
        }
      }
    .box{
      width: 75%;
      height: 25%;
    }

    .centered {
      width: 50%;
      margin: auto;
      }

    .elem{
      position: absolute;
    }
}
